:root {
    --primary-color: #000022;
}

[data-testid="tabs"]>ul>button {
    background-color: var(--primary-color);
    color: white;
}

[data-testid="tabs"]>ul>button[aria-selected="true"] {
    background-color: var(--primary-color);
    color: white;
    opacity: 0.9;
    /* optional visual tweak */
}