:root {
    --primary-color: #000022;
    --banner-text-color: #23295a;
    --banner-bg-color: #a2cce5;

}

@font-face {
    font-family: 'DM Sans 9pt';
    src: url('/fonts/DMSans-9ptRegular.woff2') format('woff2'),
        url('/fonts/DMSans-9ptRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LEGO Typewell';
    src: url('/fonts/LEGOTypewell-Bold.woff2') format('woff2'),
        url('/fonts/LEGOTypewell-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LEGO Typewell';
    src: url('/fonts/LEGOTypewell-Light.woff2') format('woff2'),
        url('/fonts/LEGOTypewell-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LEGO Typewell';
    src: url('/fonts/LEGOTypewell-Regular.woff2') format('woff2'),
        url('/fonts/LEGOTypewell-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.bold-text {
    font-family: 'LEGO Typewell';
    font-weight: 700;
}

.regular-text {
    font-family: 'LEGO Typewell';
    font-weight: 500;
}

.light-text {
    font-family: 'LEGO Typewell';
    font-weight: 300;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


[data-testid="tabs"]>ul>button {
    background-color: var(--primary-color);
    color: white;
}

[data-testid="tabs"]>ul>button[aria-selected="true"] {
    background-color: var(--primary-color);
    color: white;
    opacity: 0.9;
    /* optional visual tweak */
}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 0.3s ease forwards;
}


.svg-bg {
    background-image: url('/images/preview-top-right.svg');
    background-size: cover;
}

.pos-top {
    position: absolute;
    top: 48px;
    left: auto;
    right: 52px;
}

.Spreadsheet.w-full .Spreadsheet__table {
    width: 100%;
}

/* .foodwaste-sheet tbody tr:first-child {
    background-color: var(--primary-color);
    color: white !important;
} */

.foodwaste-sheet .Spreadsheet__header {}

.food-waste-hr-bg {
    background-image: url('/images/foodWasteHR.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #AFB8A0;
}

.food-waste-vr-bg {
    background-image: url('/images/foodWasteVr.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #AFB8A0;
}